agenda {
    background: #E8ECF1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding-top: 3rem;
  }
  .agenda__img {
    width: 130rem;
    height: 60rem;
    object-fit: cover;
  }
  .agenda__article {
    width: 80rem;
    height: 35rem;
    background: #B5CFD8;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0.3rem 0.8rem;
  }
  .agenda__article--img {
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    margin-left: 2rem;
    object-fit: cover;
  }
  .agenda__h2 {
    padding: 4rem;
    margin-left: 20rem;
    width: 100%;
  }
  .agenda__div {
    display: flex;
    flex-direction: row;
  }
  .agenda__p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }